main div.cta{
    position: absolute;
    text-align: center;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 32px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    color: #f2f2f2;
    background-color: rgba(13, 13, 13, 0.95);
    padding: 2em 8em;
    border-radius: 16px;
}
main div.cta p{
    font-size: 2.5em;
    font-weight: 200;
}
main div.cta a{
    background-color: #73212F;
    color: #f2f2f2;
    padding: 0.75em;
    border-radius: 8px;
    font-size: 1.5em;
    font-weight: bolder;
}
main div.cta a:hover{
    background-color: #963041;
    transition: 0.5s;
}
main div.prevencaoaosuicidio{
    margin: 8em auto;
    width: 85.75em;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
main section h2{
    font-size: 2.5em;
    color: #73212F;
    font-weight: 200;
    margin-bottom: 2em;
}
main section h2 b, main section div div h3 b{
    font-weight: 800;
}
main div.prevencaoaosuicidio section p{
    font-size: 1.5em;
    margin: 2em 20em 0 0;
}
main section.ondebuscarajuda{
    margin: 8em auto;
    width: 85.75em;
}
main section.ondebuscarajuda div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
main section.ondebuscarajuda div div{
    border: 2px solid #0d0d0d;
    border-radius: 50px 50px 0 0;
    flex-direction: column;
    width: 40em;
}
main section.ondebuscarajuda div div p{
    background-color: #73212F;
    width: 40em;
    padding: 2em;
    color: #f2f2f2;
}
main section.ondebuscarajuda > h3{
    font-size: 1.5em;
    font-weight: 900;
}
main section div div h3{
    font-size: 1.5em;
}
main section.ondebuscarajuda div div h3{
    padding: 1.25em;
}
main section.ondebuscarajuda > h3{
    margin-top: 2em;
}
main section.ondebuscarajuda a{
    font-weight: bolder;
    color: #0d0d0d;
}
main div.vantagens{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 8em auto;
    width: 85.75em;
    gap: 4em;
}
main div.vantagens div p{
    width: 180px;
    text-align: center;
    font-size: 1.5em;
}
main section.ondebuscarajuda p{
    margin: 0;
}
main section.depoimentodosnossosclientes{
    margin: 8em auto;
    width: 85.75em;
}
main section.equipe{
    margin: 8em auto;
    width: 85.75em;
}
main section.duvidasfrequentes{
    margin: 8em auto;
    width: 85.75em;
}
.carousel-item .cards{
    display: flex;
    justify-content: space-between;
    color: #f2f2f2;
}
.impar{
    background-color: #73212F;
}
.carousel-item .cards > div{
    padding: 2em;
    margin: 2em;
    width: 512px;
    height: 320px;
    border-radius: 16px;
}
.carousel-item .cards div div{
    display: flex;
    align-items: center;
    background-color: white;
    padding: 1em;
    color: #0d0d0d;
    gap: 1em;
    border-radius: 16px;
    margin: 0 0 1em 0;
}
.carousel-item .cards div div h3{
    font-weight: bolder;
}
.par{
    background-color: #0d0d0d;
}