.e1c29vlm8{
    width: 100vw;
    height: 2em;
}
.st-ae{
    background-color: #f2a20c;
}
header{background-image:linear-gradient(#f21b54, #f20c8b);}
.e1d5ycv52:hover{border: 1px solid #f20c8b; text-transform: uppercase;}